/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 120px;
    border-radius: 50%;
}

/* Main Section Styles */
main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.cart-items {
    padding: 20px;
    border-top: 1px solid #eee;
}

.cart-items-list {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.cart-item img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border-radius: 4px;
}

.cart-item-details {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item-details p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.cart-item-details .product-name {
    flex: 1;
}

.cart-item-details .product-price {
    margin-left: 15px;
    font-weight: bold;
}

.cart-item .quantity-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px; /* Adds space between controls */
}

.quantity-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.quantity-button:hover {
    background-color: #0056b3;
}

.quantity-input {
    width: 40px; /* Decreased size */
    margin: 0;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.remove-button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.remove-button:hover {
    background-color: #c9302c;
}

.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.cart-summary h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.clear-cart-button, .place-order-button {
    background-color: #5bc0de;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.clear-cart-button {
    background-color: #d9534f;
    margin-right: 10px;
}

.clear-cart-button:hover {
    background-color: #c9302c;
}

.place-order-button:hover {
    background-color: #31b0d5;
}

.place-order-button:focus, .clear-cart-button:focus {
    outline: none;
}
